/* Estilos para el sidebar */

.sidebar {
  width: 180px; /* Ancho del sidebar */
  height: 100%; /* Altura del sidebar */
  background-color: #424667; /* Color de fondo del sidebar */
  color: #747583; /* Color del texto en el sidebar */
  padding: 20px; /* Añadir espacio interno al sidebar */
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

/* Estilos para los enlaces del sidebar */

.links {
  list-style: none; /* Eliminar los puntos de la lista */
  padding: 0; /* Eliminar el relleno predeterminado */
}

.links li {
  margin-bottom: 15px; /* Añadir espacio entre cada elemento de la lista */
}

.links a {
  text-decoration: none; /* Eliminar subrayado de los enlaces */
  color: #fff; /* Color del texto de los enlaces */
  font-size: 16px; /* Tamaño de fuente de los enlaces */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.links a:hover {
  color: #ccc; /* Cambiar el color del texto al pasar el cursor por encima */
}

/* Estilos para el botón "Salir" en el sidebar */

.butonBack {
  width: 100%; /* Ancho completo del botón */
  padding: 10px; /* Añadir espacio interno al botón */
  background-color: #7CAEC9; /* Color de fondo del botón */
  border: none; /* Eliminar borde del botón */
  border-radius: 5px; /* Añadir bordes redondeados al botón */
  color: #62636e; /* Color del texto del botón */
  cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
  font-size: 16px; /* Tamaño de fuente del botón */
  margin-top: 20px; /* Añadir espacio superior al botón */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

.butonBack:hover {
  background-color: #A8D2E6; /* Cambiar el color de fondo al pasar el cursor por encima del botón */
}
