/* Navbar.css */
.navbar {
    background-color: #a6dcef;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5em;
  }
  .img{
    width: 50px;
  }
  .links {
    list-style: none;
    display: flex;
  }
  
  .links li {
    margin-right: 15px;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .userCard {
    border: solid 1px white;
    display: flex;
    align-items: center;
    background-color: #a6dcef; /* Color de fondo de la tarjeta del usuario */
    padding: 10px;
    border-radius: 5px;
  }
  
  .userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .userInfo {
    font-size: 14px;
  }
  